/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body{
    background-color: rgb(174, 216, 229);
    font-family: 'Pattaya', sans-serif;
}

.float{
    float: left;
}

.violet{
    color: violet;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.orange{
    color: orange;
}

.pink {
    color: pink;
}

/* Header */
header h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

/* Main */
.container_main{
    width: 700px;
    margin: 0 auto;
}

.card {
    width: calc(100% / 4);
    height: 200px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-position: center;
    border-radius: 10px;

    margin: 2px 0;
}

.row .card:nth-of-type(2){
    width: calc((100% / 4) - 6px);
    margin-left: 4px;
    margin-right: 2px;
}

.row .card:nth-of-type(3){
    width: calc((100% / 4) - 6px);
    margin-left: 2px;
    margin-right: 4px;
}

.card .back_side{
    opacity: 0;

    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    position: relative;
}

.card .back_side:hover{
    opacity: 1;
}

.img_general{
    width: 85%;
    position: absolute;

    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.card_text{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0); 
    font-size: 19px;
}

.row:nth-of-type(2) .card:nth-of-type(3) .back_side{
    opacity: 1;
}


